@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

.wrapper {
  @apply w-full md:w-[40px] flex md:flex-col fixed bottom-0 md:right-0 md:bottom-[10%];
}
